body {
    font-family: 'Arvo', serif;
    text-align: center;
    background-color: #f8f9fa;
    color: #000;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
}

.title-3d {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #000;
}

.description-3d {
    font-size: 18px;
    margin-bottom: 40px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    color: #000;
}

#countdown {
    display: flex;
    justify-content: space-around;
    font-size: 36px;
    margin-top: 20px;
}

#countdown .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

#countdown .time h2 {
    font-size: 36px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#countdown .time small {
    color: #000;
    font-size: 18px;
    margin-top: 5px;
}
