body {
    font-family: 'Arvo', serif;
    text-align: center;
    background-color: #f8f9fa;
    color: #000;
}

.title-3d {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #000;
}

.description-3d {
    font-size: 18px;
    margin-bottom: 40px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    color: #000;
}

#countdown .time h2 {
    font-size: 36px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#countdown .time small {
    color: #000;
}
